
/* simplebar */
.simplebar-scrollbar:before {
    background: #7730DF;
}
.simplebar-scrollbar.simplebar-visible:before {
    opacity: 1;
}
.simplebar-track.simplebar-horizontal .simplebar-scrollbar {
    height: 5px;
}


.green_button {
    min-height: 54px;
    padding-top: 16px;
    padding-bottom: 15px;
    background-color: #00E676;
}
.green_button:hover {
    background-color: #02D46E;
}
.green_button:active {
    background-color: #02B75F;
}

/* video_course */
.video_course {
    margin-top: 100px;
    margin-bottom: 110px;
}
.video_course_list {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    margin: 50px -15px 20px;
}
.video_course_list_item {
    box-sizing: border-box;
    width: 33.3%;
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 28px;
}
.video_course_list_name {
    display: block;
    padding-right: 38px;
    font-weight: 600;
    color: #000000;
    font: 17px/21px 'Montserrat_SemiBold', Arial;
}
.video_course_link:hover .video_course_list_name {
    color: #7730DF;
}
.video_course_more {
    text-align: center;
}
.video_course_more_link {
    margin-left: auto;
    margin-right: auto;
}
.video_course_link {
    display: block;
    cursor: pointer;
}
.video_course_img {
    display: block;
    position: relative;
    overflow: hidden;
    border-radius: 7px;
    margin-bottom: 30px;
}
.video_course_img:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}
.video_course_img:after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90px;
    height: 90px;
    background: url(images/play_video.svg) no-repeat 0 0;
    background-size: 100% auto;
}
.video_course_pic {
    display: block;
    width: 100%;
    height: 230px;
    object-fit: cover;
}

@media screen and (max-device-width: 1320px)
{
    .video_course {
        margin-top: 50px;
        margin-bottom: 50px;
        max-width: 900px;
    }
    .video_course_list {
        margin-top: 25px;
        margin-left: -7px;
        margin-right: -7px;
    }
    .video_course_list_item {
        padding-left: 7px;
        padding-right: 7px;
    }
    .video_course_img {
        border-radius: 3px;
        margin-bottom: 15px;
    }
    .video_course_img:after {
        width: 42px;
        height: 42px;
    }
    .video_course_pic {
        height: 118px;
    }
    .video_course_list_name {
        padding-right: 20px;
        font-size: 14px;
        line-height: 17px;
    }
}

@media screen and (max-device-width: 719px)
{
    .video_course {
        margin-top: 30px;
    }
    .video_course_list {
        max-width: 400px;
        margin: 25px auto 30px;
    }
    .video_course_list_item {
        width: 100%;
        padding-left: 0;
        padding-right: 0;
    }
    .video_course_img:after {
        width: 55px;
        height: 55px;
    }
    .video_course_pic {
        height: 155px;
        border-radius: 5px;
    }
}


/* educational_audience */
.educational_audience {
    margin-bottom: 100px;
}
.educational_audience_container {
    display: flex;
    margin-left: -15px;
    margin-right: -15px;
}
.educational_audience_box {
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    padding-left: 15px;
    padding-right: 15px;
}
.educational_audience_block {
    width: 100%;
    margin-bottom: 30px;
    background-color: #EBF4FE;
    border-radius: 30px;
    padding: 80px;
    min-height: 50%;
    height: auto;
}
.educational_audience_block_important {
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(80.3deg, #FCEAE5 24.21%, #EDE1F7 115.51%);
}
.educational_audience_block_main {
    display: flex;
    align-items: center;
    justify-content: center;
}
.educational_audience_block_big {
    background-color: #F1F3F6;
}
.educational_audience_block:last-child {
    margin-bottom: 0;
}
.educational_audience_box .educational_audience_block {
    min-height: auto;
}
.educational_audience_name {
    text-align: left;
    margin-bottom: 45px;
}
.educational_audience_list {

}
.educational_audience_list_item {
    margin-bottom: 45px;
}
.educational_audience_list_item:last-child {
    margin-bottom: 0;
}
.educational_audience_info {
    color: #000000;
    font: 16px/20px 'Montserrat_Regular', Arial;
}
.educational_audience_info a {
    color: #000000;
}
.educational_audience_list_name {
    margin-bottom: 10px;
    color: #7730DF;
    font: 18px/22px 'Montserrat_SemiBold', Arial;
}
.educational_audience_important {
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color: #000000;
    font: 600 18px/25px 'Nunito_SemiBold', Arial;
}
.educational_audience_important_inner {}
.educational_audience_important a {
    color: #000000;
}
.educational_audience_important_icon {
    display: block;
    max-width: 120px;
    max-height: 120px;
    margin-bottom: 45px;
    margin-left: auto;
    margin-right: auto;
}

@media screen and (max-device-width: 1320px) and (min-device-width: 719px)
{
    .educational_audience .wrapper {
        width: 660px;
    }
    .educational_audience_block_important {
        display: block;
    }
    .educational_audience_block_main {
        display: block;
    }
    .educational_audience_important_inner {
        display: flex;
        align-items: center;
    }
    .educational_audience_important_icon {
        margin-bottom: 0;
        margin-right: 45px;
    }
    .educational_audience_important {
        max-width: none;
        text-align: left;
    }
}
@media screen and (max-device-width: 1320px)
{
    .educational_audience {
        margin-bottom: 50px;
    }
    .educational_audience_container {
        flex-direction: column;
        margin-left: 0;
        margin-right: 0;
    }
    .educational_audience_box {
        width: 100%;
        margin-bottom: 30px;
        padding-left: 0;
        padding-right: 0;
    }
    .educational_audience_box:last-child {
        margin-bottom: 0;
    }
    .educational_audience_block {
        border-radius: 20px;
        padding: 60px;
    }
    .educational_audience_name {
        margin-bottom: 30px;
    }
    .educational_audience_list_name {
        font-size: 14px;
        line-height: 17px;
    }
    .educational_audience_list_item {
        margin-bottom: 30px;
    }
    .educational_audience_info {
        font-size: 13px;
        line-height: 16px;
    }
    .educational_audience_important {
        font-size: 14px;
        line-height: 19px;
    }
    .educational_audience_important_icon {
        max-width: 90px;
        max-height: 90px;
    }
}

@media screen and (max-device-width: 719px)
{
    .educational_audience_block {
        padding: 30px;
    }
    .educational_audience_block_big {
        padding-left: 18px;
        padding-right: 18px;
    }
    .educational_audience_important_icon {
        margin-bottom: 18px;
    }
}

/* case */
._uni_details_page .case_price {
    padding-left: 546px;
    margin-bottom: 25px;
}
.case_block {
}
.case_support {
    box-sizing: border-box;
    min-height: 191px;
    padding: 30px;
    margin-bottom: 30px;
    background: linear-gradient(80.3deg, #FCEAE5 24.21%, #EDE1F7 115.51%);
    border-radius: 20px;
    text-align: center;
}
.case_support_text {
    margin-bottom: 30px;
    font-family: 'Nunito_Bold', Arial;
    font-weight: 700;
    font-size: 20px;
    line-height: 27px;
    color: #000000;
}
.case_support_button {
    margin-left: auto;
    margin-right: auto;
}
.case_support_button_icon {
    margin-left: 13px;
}
._uni_details_page .case_title {}

@media screen and (max-device-width: 1320px)
{
    ._uni_details_page .case_price {
        margin-bottom: 10px;
        padding-top: 15px;
        padding-left: 0;
        font-weight: 700;
    }
    .case_block {
        display: flex;
        flex-direction: column;
    }
    .case_support {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        order: -1;
        min-height: 323px;
    }
    .case_support_text {
        font-size: 17px;
        line-height: 23px;
    }
    ._uni_details_page .case_title {
        width: 650px;
        margin-left: -352px;
    }
}
@media screen and (max-device-width: 719px)
{
    ._uni_details_page .case_price {
        padding-top: 0;
    }
    .case_support {
        min-height: 168px;
        padding-left: 18px;
        padding-right: 18px;
    }
    .case_support_text {
        margin-bottom: 10px;
        font-weight: 600;
        font-size: 14px;
        line-height: 17px;
        font-family: 'Montserrat_SemiBold', Arial;
    }
    ._uni_details_page .case_title {
        width: auto;
        margin-left: 0;
    }
}

/* curator_support */
.curator_support_info {
    margin-bottom: 100px;
}
.curator_support_info h1 {
    margin-bottom: 30px;
}
.curator_support_info_content {
    max-width: 710px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.online-exercise_info .curator_support_info_content {
    max-width: 755px;
}


.curator_support_advantages  {
    padding-bottom: 100px;
}
.curator_support_advantages .wrapper {
    width: 1280px; background: linear-gradient(80.3deg, #FCEAE5 24.21%, #EDE1F7 115.51%); padding: 80px 100px; box-sizing: border-box;
    border-radius: 30px;
}
.curator_support_advantages_block {
    position: relative;
    display: flex;
    justify-content: space-between;
}
.curator_support_advantages .wrapper .left_column h1            { font-size: 25px; line-height: 34px; font-weight: 600; text-align: left; padding: 0 0 30px 0; }
.curator_support_advantages .wrapper .left_column h2            { text-align: left;color: #7730DF; padding: 0 0 10px 0;  }
.curator_support_advantages .wrapper .left_column p             { padding: 0 0 30px 0; }
.curator_support_advantages .wrapper .left_column            {
    width: 586px;
}
.curator_support_advantages .wrapper .left_column img        {  display: none; }

.curator_support_advantages .wrapper .right_column           {
    position: absolute;
    top: 0;
    right: 0;
    width: 414px;
    height: 100%;
}

.curator_support_advantages .wrapper .right_column .image_wrapper  { display: block; width: 100%; height: 100%; border-radius: 30px; object-fit: cover; }
.curator_support_advantages_content ul {
    margin-left: 20px;
    margin-bottom: 30px;
}
.curator_support_advantages_content ul li {
    list-style: initial;
}


.curator_support_consultation {
    margin-top: 0;
}
.curator_support_consultation_title {
    max-width: 580px;
    margin-left: auto;
    margin-right: auto;
}
.curator_support_consultation_button {
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
}
.curator_support_consultation_button_wide {
    min-width: 246px;
}
.curator_support_consultation_button_icon {
    vertical-align: middle;
    margin-top: -1px;
    margin-right: 10px;
}
.curator_support_consultation .text {
    position: relative;
    top: 0;
    height: auto;
    min-height: 250px;
    transition: top 0.3s ease-out;
}
.curator_support_consultation .text:hover {
    top: -10px;
    margin-top: 0;
}
.curator_support_consultation span b {
    font-size: inherit;
    display: inline;
    line-height: inherit;
    color: inherit;
}



.curator_support_mentors     { margin-bottom: 70px; }
.curator_support_mentors .wrapper            { }
.curator_support_mentors h3                  { margin: 0 0 20px 0; text-align: center; }
.curator_support_mentors h4                  { margin: 0 0 30px 0; font: 16px/20px 'Montserrat_Medium', Arial; font-style: normal; font-weight: 500; color: #7730DF; text-align: center; }
.curator_support_mentors p                   { margin: 0 0 30px 0; text-align: center; flex: 1 0 auto; font-size: 14px; line-height: 17px;}
.curator_support_mentors ul                  { width: calc(100% + 31px); display: flex; flex-direction: row; flex-wrap: wrap; justify-content: flex-start; margin: 50px 0 0 0; }
.curator_support_mentors li                  { width: calc(33% - 26px); margin: 0 30px 30px 0; transition: all 0.3s ease-out; }
.curator_support_mentors_block                { display: flex; flex-direction: column; height: 100%; text-decoration: none; color: #000000; transition: all 0.3s ease-out; }
.curator_support_mentors_block:hover            { margin-top: -10px; }
.curator_support_mentors li .lilac_button    { margin: auto; width: 246px;  }
.curator_support_mentors_block:hover          { margin-top: -10px; margin-bottom: 10px; }
.curator_support_mentors .wrapper .violet_button    { margin: 60px auto 0 auto; display: table; }
.curator_support_mentors li .item_footer              { background-color: #F1F3F6; flex: 1 0 auto; display: flex; flex-direction: column; padding: 30px; border-bottom-right-radius: 10px; border-bottom-left-radius: 10px; }
.curator_support_mentors li .item_footer p            { color: #7E7E7E; }
.curator_support_mentors img            { width: 100%; height: 239px; object-fit: cover; object-position: center top; border-top-left-radius: 10px; border-top-right-radius: 10px; }
.curator_support_mentors h1 {
    margin-bottom: 30px;
}
.curator_support_mentors_info {
    max-width: 582px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.curator_support_mentors_price {
    font-family: 'Nunito_SemiBold', Arial;
    font-weight: 600;
    font-size: 25px;
    line-height: 34px;
    text-align: center;
    color: #7730DF;
}
.curator_support_mentors_label {
    margin-bottom: 30px;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #7730DF;
    font-family: 'Montserrat_Medium', Arial;
}
.curator_support_mentors_button {}
.curator_support_mentors_button_icon {
    vertical-align: middle;
    margin-top: -1px;
    margin-right: 10px;
}


.curator_support_gallery {
    background-color: transparent;
}


.curator_support_nav {
    margin-top: 100px;
    margin-bottom: 100px;
}
.curator_support_nav_block {
    overflow: hidden;
}
.curator_support_nav_list {
    display: flex;
}
.curator_support_nav_item {
    height: auto;
    min-height: 100%;
}
.curator_support_nav_link {
    display: flex;
    align-items: center;
    box-sizing: border-box;
    min-height: 106px;
    height: 100%;
    padding: 30px;
    background-color: #F1F3F6;
    border-radius: 20px;
    font-family: 'Nunito_Bold', Arial;
    font-weight: 700;
    font-size: 17px;
    line-height: 23px;
    text-align: center;
    color: #000000;
    text-decoration: none;
}
.curator_support_nav_link:hover {
    background-color: #7730DF;
    color: #fff;
}
.curator_support_nav_item_active .curator_support_nav_link {
    background-color: #7730DF;
    color: #fff;
}
.curator_support_nav_label {
    display: block;
    max-width: 267px;
    margin-left: auto;
    margin-right: auto;
}


.online-exercise_mentors ul {
    justify-content: center;
}
.online-exercise_mentors .curator_support_mentors_price {
    margin-bottom: 30px;
}
.online-exercise_mentors_button_label_mob {
    display: none;
}


.webinar_schedule_info {
    margin-bottom: 100px;
}
.webinar_schedule_info h1 {
    max-width: 630px;
    margin-left: auto;
    margin-right: auto;
}
.webinar_schedule_advantages_text {
    padding-bottom: 15px;
    font-size: 16px;
    line-height: 20px;
    font-family: 'Montserrat_Regular', Arial;
}
.curator_support_advantages .wrapper .left_column h2 {
    padding-bottom: 30px;
}
.webinar_schedule_advantages_price {
    padding-bottom: 30px;
    font-family: 'Montserrat_Semibold', Arial;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
}
.webinar_schedule_advantages_price_label {
    white-space: nowrap;
}
.webinar_schedule_advantages_button {
    min-width: 246px;
}
.webinar_schedule_advantages_button_icon {
    vertical-align: middle;
    margin-top: -1px;
    margin-right: 10px;
}


.webinar_schedule_table {
    margin-bottom: 100px;
}
.webinar_schedule_table_block {
    margin-bottom: 70px;
    margin-top: -30px;
    margin-left: -30px;
    margin-right: -30px;
}
.webinar_schedule_table_inner {
    padding: 30px;
}
.webinar_schedule_table .price_of_classes {
    margin-top: 0;
    margin-bottom: 0;
}
.webinar_schedule_table .price_of_classes dl:first-of-type {
    height: auto;
    min-height: 62px;
}
.webinar_schedule_table .price_of_classes dt span {
    margin-top: 5px;
}
.webinar_schedule_table_button {
    min-width: 246px;
    margin-left: auto;
    margin-right: auto;
}
.webinar_schedule_table_button_icon {
    vertical-align: middle;
    margin-top: -1px;
    margin-right: 10px;
}
.webinar_schedule_table_more {
    margin-left: auto;
    margin-right: auto;
}
.webinar_schedule_table_date {
    display: block;
    max-width: 144px;
    margin-left: auto;
    margin-right: auto;
}


@media screen and (min-device-width: 1320px)
{
    .curator_support_consultation .text {
        font-size: 14px;
    }
}
@media screen and (max-device-width: 1320px) and (min-device-width: 719px) {
    .curator_support_nav .wrapper {
        width: 660px;
    }

    .curator_support_advantages .wrapper {
        width: 660px;
        padding: 60px;
    }
    .curator_support_advantages .wrapper .left_column h2 {
        padding-bottom: 5px;
    }
    .curator_support_advantages .wrapper .left_column p {
        padding: 0 0 20px 0;
    }
    .curator_support_advantages .wrapper .left_column {
        width: 52%;
    }
    .curator_support_advantages .wrapper .right_column {
        width: 38%;
    }
    .curator_support_advantages .wrapper .right_column .image_wrapper {
        border-radius: 10px;
    }
    .curator_support_advantages_content ul {
        margin-bottom: 20px;
    }

    .curator_support_mentors .wrapper            { width: 660px; }
}

@media screen and (max-device-width: 1320px)
{
    .curator_support_nav {
        margin-top: 70px;
        margin-bottom: 50px;
    }
    .curator_support_nav_link {
        padding: 23px;
        min-height: 98px;
        font-family: 'Montserrat_SemiBold', Arial;
        font-weight: 600;
        font-size: 14px;
        line-height: 17px;
    }


    .curator_support_advantages {
        padding-bottom: 50px;
    }
    .curator_support_advantages .wrapper .left_column h1 {
        padding: 0 0 20px 0;
        font-size: 20px;
        line-height: 27px;
        font-weight: 700;
    }

    .curator_support_consultation .wrapper {
        margin-top: 25px;
    }
    .curator_support_consultation_title {
        max-width: 427px;
    }
    .curator_support_consultation .text {
        padding: 20px;
    }
    .curator_support_consultation b {
        margin-bottom: 10px;
    }
    .curator_support_consultation_button {
        white-space: normal;
    }
    .curator_support_consultation_button_wide {
        min-width: auto;
    }
    .curator_support_consultation_button_icon {
        margin-right: 0;
        margin-bottom: 10px;
    }

    .curator_support_info {
        margin-bottom: 30px;
    }
    .curator_support_info_content {
        max-width: 435px;
    }
    .curator_support_info h1 {
        margin-bottom: 23px;
    }

    .curator_support_mentors                     { margin-bottom: 20px; }
    .curator_support_mentors h3                  { margin: 0 0 15px 0; }
    .curator_support_mentors h4                  { margin: 0 0 23px 0; font: 13px/16px 'Montserrat_Regular', Arial;  }
    .curator_support_mentors p                   { margin: 0 0 20px 0; font-size: 13px; line-height: 16px;}
    .curator_support_mentors ul                  { width: calc(100% + 30px); display: flex; flex-direction: row; flex-wrap: wrap; justify-content: flex-start; margin: 25px 0 0 0; }
    .curator_support_mentors li                  { width: calc(50% - 30px); margin: 0 30px 30px 0; }
    .curator_support_mentors_block                { display: flex; flex-direction: column; height: 100%; text-decoration: none; color: #000000; }
    .curator_support_mentors li .lilac_button    { margin: auto; width: 190px; }
    .curator_support_mentors_block:hover          { margin-top: 0px; margin-bottom: 0px; }
    .curator_support_mentors .item_footer              { padding: 23px 20px; border-bottom-right-radius: 8px; border-bottom-left-radius: 10px; }
    .curator_support_mentors_block:hover h3       { color: #7730DF; }
    .curator_support_mentors img            { width: 100%; height: 190px; object-fit: cover; object-position: center top; border-top-left-radius: 10px; border-top-right-radius: 10px; }
    .curator_support_mentors .wrapper .violet_button    { margin: 20px auto 0 auto; }
    .curator_support_mentors_info {
        max-width: 435px;
    }
    .curator_support_mentors h1 {
        margin-bottom: 23px;
    }
    .curator_support_mentors_price {
        font-weight: 700;
        font-size: 17px;
        line-height: 23px;
        font-family: 'Nunito_Bold', Arial;
    }
    .curator_support_mentors_label {
        font-weight: 600;
        font-size: 14px;
        line-height: 17px;
        font-family: 'Montserrat_SemiBold', Arial;
    }
    .curator_support_mentors_button {
        min-width: 246px;
    }


    .online-exercise_info .curator_support_info_content {
        max-width: 435px;
    }

    .online-exercise_mentors .curator_support_mentors_price {
        margin-bottom: 24px;
    }
    .online-exercise_mentors_button_label {
        display: none;
    }
    .online-exercise_mentors_button_label_mob {
        display: inline;
    }


    .webinar_schedule_info {
        margin-bottom: 25px;
    }
    .webinar_schedule_advantages_text {
        padding-bottom: 10px;
        font-size: 13px;
        line-height: 16px;
    }
    .curator_support_advantages .wrapper .left_column h2 {
        padding-bottom: 20px;
    }
    .webinar_schedule_advantages_price {
        padding-bottom: 20px;
        font-size: 14px;
        line-height: 17px;
    }
    .webinar_schedule_table_button {
        min-width: 143px;
        margin-left: auto;
        margin-right: auto;
        padding-left: 20px;
        padding-right: 20px;
    }
    .webinar_schedule_table_button_icon {
        display: block;
        margin: 0 auto 10px;
    }
    .webinar_schedule_table_block {
        margin-bottom: 20px;
    }
    .webinar_schedule_table .price_of_classes dl dt {
        margin-right: 20px;
    }
    .webinar_schedule_table .price_of_classes dl dd:last-of-type {
        margin-right: 20px;
    }
    .webinar_schedule_table {
        margin-bottom: 50px;
    }
}
@media screen and (max-device-width: 719px)
{
    .curator_support_nav {
        overflow: hidden;
        margin-top: 30px;
    }
    .curator_support_nav_block {
        overflow: visible;
    }
    .curator_support_nav_item {
        width: 210px;
    }
    .curator_support_nav_link {
        min-height: 60px;
        padding: 15px;
        font-family: 'Montserrat_SemiBold', Arial;
        font-weight: 600;
        font-size: 12px;
        line-height: 15px;
    }

    .curator_support_consultation .text {
        min-height: 152px;
    }
    .curator_support_consultation_button_icon {
        margin-right: 10px;
        margin-bottom: 0;
    }
    .curator_support_info {
        margin-bottom: 25px;
    }
    .curator_support_info h1 {
        margin-bottom: 27px;
    }
    .curator_support_info_content {
        padding-left: 20px;
        padding-right: 20px;
    }

    .curator_support_advantages .wrapper         { width: calc(100% - 40px); padding: 30px 18px; }

    .curator_support_advantages .wrapper .left_column h1            { padding: 0 0 20px 0; text-align: center; }
    .curator_support_advantages .wrapper .left_column h2            { text-align: center; }
    .curator_support_advantages .wrapper .left_column p             { padding: 0 0 20px 0; text-align: center; }

    .curator_support_advantages .wrapper .left_column            { width: 100%; display: flex; flex-direction: column; align-items: center; }
    .curator_support_advantages .wrapper .left_column img        { display: block; border-radius: 30px; margin: 0 0 20px 0; width: 100%; border-radius: 10px; }
    .curator_support_advantages .wrapper .right_column           {
        position: static;
        width: 100%;
        height: 171px;
        margin-bottom: 20px;
    }
    .curator_support_advantages .lilac_button                    { align-self: center; white-space: normal; width: 147px; margin: auto; }


    .curator_support_mentors h1                  { width: 260px; margin: auto; }
    .curator_support_mentors h3                  { margin: 0 0 15px 0; }
    .curator_support_mentors h4                  { margin: 0 0 23px 0; font: 13px/16px 'Montserrat_Regular', Arial;  }
    .curator_support_mentors p                   { margin: 0 0 30px 0; }
    .curator_support_mentors ul                  { width: 100%; display: flex; flex-direction: row; flex-wrap: wrap; justify-content: flex-start; margin: 25px 0 0 0; }
    .curator_support_mentors li                  { width: 100%; margin: 0 0 30px 0; }
    .curator_support_mentors_block                { display: flex; flex-direction: column; height: 100%; text-decoration: none; color: #000000; }
    .curator_support_mentors li .lilac_button    { margin: auto; width: 147px; }
    .curator_support_mentors_block:hover          { margin-top: 0px; margin-bottom: 0px; }
    .curator_support_mentors .item_footer              { padding: 23px 20px; border-bottom-right-radius: 8px; border-bottom-left-radius: 10px; }
    .curator_support_mentors_block:hover h3       { color: #7730DF; }
    .curator_support_mentors img            { width: 100%; height: 165px; object-fit: cover; object-position: center top; border-top-left-radius: 10px; border-top-right-radius: 10px; }
    .curator_support_mentors .wrapper .violet_button    { margin: 20px auto 0 auto; }
    .curator_support_mentors_info {
        padding-left: 20px;
        padding-right: 20px;
    }
    .curator_support_mentors h3 {
        font-size: 17px;
        line-height: 21px;
    }
    .curator_support_mentors h4 {
        margin-bottom: 20px;
    }
    .curator_support_mentors_price {
        margin-bottom: 5px;
    }
    .curator_support_mentors_label {
        margin-bottom: 20px;
        font-size: 17px;
        line-height: 23px;
    }
    .curator_support_mentors p {
        margin-bottom: 20px;
    }
    .curator_support_mentors_button {
        min-width: 169px;
    }
    .curator_support_mentors img {
        min-height: 260px;
    }

    .webinar_schedule_advantages_text {
        padding-bottom: 5px;
        text-align: center;
    }
    .curator_support_advantages .wrapper .right_column {
        order: -1;
    }
    .webinar_schedule_advantages_price {
        font-size: 20px;
        line-height: 27px;
        text-align: center;
    }
    .webinar_schedule_advantages_button {
        min-width: 187px;
    }
    .webinar_schedule_table_block {
        overflow: auto;
        margin-bottom: 30px;
    }
    .webinar_schedule_table_block {
        margin-left: -20px;
        margin-right: -20px;
    }
    .webinar_schedule_table_inner {
        padding-left: 20px;
        padding-right: 20px;
    }
    .webinar_schedule_table .price_of_classes {
        min-width: 640px;
    }
    .webinar_schedule_table .price_of_classes dl dt {
        width: 230px;
    }
    .webinar_schedule_table .simplebar-track {
        bottom: 10px;
    }
}
@media screen and (max-device-width: 400px)
{
    .curator_support_mentors img {
        min-height: 165px;
    }
}
